<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"default"}} -->
    <div class="wp-block-group"
        style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">
        <!-- wp:query-title {"type":"search","textAlign":"center"} /-->

        <!-- wp:search {"label":"","showLabel":false,"width":50,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","align":"center","style":{"border":{"radius":"5px"}}} /-->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
        <div class="wp-block-group"
            style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">
            <!-- wp:query {"queryId":0,"query":{"perPage":9,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"tagName":"main","layout":{"type":"constrained"}} -->
            <main class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->

                <!-- wp:group {"layout":{"type":"constrained"}} -->
                <div class="wp-block-group">
                    <!-- wp:group {"style":{"layout":{"columnSpan":1,"rowSpan":1},"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","left":"var:preset|spacing|60","right":"var:preset|spacing|60"}},"border":{"radius":"10px"}},"backgroundColor":"section-bg-color","layout":{"type":"default"}} -->
                    <div class="wp-block-group has-section-bg-color-background-color has-background"
                        style="border-radius:10px;padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--60)">
                        <!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","width":"","height":"","scale":"contain","align":"center"} /-->

                        <!-- wp:post-title {"textAlign":"center","isLink":true} /-->

                        <!-- wp:group {"style":{"typography":{"fontSize":"14px"}},"layout":{"type":"flex","justifyContent":"center"}} -->
                        <div class="wp-block-group" style="font-size:14px">
                            <!-- wp:post-author {"showAvatar":false,"showBio":false} /-->

                            <!-- wp:post-date {"isLink":true} /-->

                            <!-- wp:post-terms {"term":"category"} /-->

                            <!-- wp:post-terms {"term":"post_tag"} /-->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:group -->
                <!-- /wp:post-template -->

                <!-- wp:spacer {"height":"50px"} -->
                <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
                <div class="wp-block-group">
                    <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
                    <!-- wp:query-pagination-previous /-->

                    <!-- wp:query-pagination-numbers /-->

                    <!-- wp:query-pagination-next /-->
                    <!-- /wp:query-pagination -->
                </div>
                <!-- /wp:group -->
            </main>
            <!-- /wp:query -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->